<main class="auth-page">
  <div class="auth-card">
    <section class="auth-form-panel">
      <div class="auth-brand">
        <div class="logo-frame">
          <img src="/assets/images/logo.png" width="200" height="185" alt="logo" />
        </div>
        <h4>We are The Lotus Team</h4>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="Login()">
        <p class="form-intro">Please login to your account</p>

        <div data-mdb-input-init class="auth-field">
          <span class="field-icon"><i class="fa-regular fa-user" aria-hidden="true"></i></span>
          <input
            type="text"
            id="form2Example11"
            class="form-control"
            placeholder="Username"
            formControlName="username"
            name="username"
            required
          />
        </div>

        <div data-mdb-input-init class="auth-field">
          <span class="field-icon"><i class="fa-solid fa-lock" aria-hidden="true"></i></span>
          <input
            type="password"
            id="form2Example22"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            name="password"
            required
          />
        </div>

        <div class="primary-actions">
          <button
            data-mdb-button-init
            data-mdb-ripple-init
            class="login-button gradient-custom-2"
            type="submit"
          >
            LOG IN
          </button>
          <a class="forgot-link" href="#!">Forgot password?</a>
        </div>

        <div class="account-switch">
          <p>Don't have an account?</p>
          <a href="/register" type="button" data-mdb-button-init data-mdb-ripple-init>Create new</a>
        </div>

        @if (message.length > 0) {
          <div class="error">
            <i class="fa-solid fa-circle-exclamation" aria-hidden="true"></i>{{ message }}
          </div>
        }
      </form>
    </section>

    <aside class="auth-story gradient-custom-2">
      <div class="story-icon"><i class="fa-solid fa-code-branch" aria-hidden="true"></i></div>
      <div class="story-content">
        <h4>We are more than just a company</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </aside>
  </div>
</main>
